body
{
    margin: 0;
    padding: 0;
}
header
{
    width: 100%;
}

.logo
{
    margin-top: 10vh;
}
nav
{
    margin-top: -5vh;
}
.menu-main
{
    padding: 1vh 3vh;
}
.menu-main:hover
{
    color: rgb(255,255,255);
    color: rgba(255,255,255,1.00);
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,1.00);
}
.respon
{
    height: 15.5em;

    filter: drop-shadow(.5px .5px .7px #ccc);
}
.mid
{
    overflow: hidden;

    width: 100%;
}
.flipped
{
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
}
.content
{
    padding: 2.5vh;
}
.space-SM
{
    margin-top: 2.5vh;
}
.spaced-shadow
{
    color: black;
    border: none;

    filter: drop-shadow(.5px .5px .7px #ccc);
}
.thumb-resize
{
    font-size: 2em;

    text-shadow: 2px 2px 0 green, 2px 3px 3px #ccc;
}
.white:hover
{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,1.00);
}
.circle
{
    border-radius: 50%;
}
.carousel
{
    margin-left: -15px;
}
